<style TYPE="text/css"><!--
 A:link    { color: #ff0000 ; text-decoration: underline }
 A:visited { color: #ffaa00 ; text-decoration: underline }

BODY {
	scrollbar-3dlight-color: #fdfdfd ;
	scrollbar-highlight-color: #969696 ;
	scrollbar-face-color: #fdfdfd ;
	scrollbar-shadow-color: #000000 ;
	scrollbar-darkshadow-color: #000000 ;
	scrollbar-track-color: #fdfdfd ;
	scrollbar-arrow-color: #000000 ;
}

-->
</style>